.breadcumb_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcumb_container .font_style_white {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.breadcumb_container .font_style_black {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #141414;
}
