.manage_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.manage_container .searchBar {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  flex-shrink: 0;
}

.manage_container h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.manage_container .table_container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.manage_container .pagination {
  text-align: right;
  flex-shrink: 0;
}
